{{ define "content" }}

<section class="hero hero-custom is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">

      <img src="/static/img/logo.png" 
           alt="Logo MetaZone" 
           style="max-width: 500px; margin-bottom: 30px;">

      <h1 class="title is-2">
        Tecnología que conecta tu mundo
      </h1>

      <p class="subtitle is-5 mt-3">
        Sistema de Gestión de e-commerce
      </p>

      <div class="buttons is-centered mt-5">
        <a href="/register" class="button is-light is-medium">
          Crear Cuenta
        </a>

        <a href="/login" class="button is-outlined is-light is-medium">
          Iniciar Sesión
        </a>
      </div>

    </div>
  </div>
</section>

{{ end }}